
<mat-form-field class="search-colleagues">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Keywords"/>
  </mat-form-field>
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="fullName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.fullName}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="team">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Team </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.team}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="feedback">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let user">
              <button class="pull-right" mat-raised-button color="primary" (click)="getFeedbacks(user.id)">View Feedbacks</button>
          </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let user; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    
      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>