<mat-form-field>
    <mat-select placeholder="Generic templates" [(ngModel)]="selectedTemplate">
      <mat-option *ngFor="let template of availableTemplates" [value]="template.id">
        {{ template.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="goToTemplate()">Go</button>