
<mat-form-field class="search-colleagues">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Keywords"/>
</mat-form-field>
<div class="example-container mat-elevation-z8">
  
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="fullName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.fullName}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="team">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Team </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.team}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="feedback">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let user">
          <div class="pull-right" *ngIf="getUser() !== user.name">
            <mat-form-field class="margin-input">
              <mat-select placeholder="Select Template" [(ngModel)]="selectedTemplates[user.name]">
                  <mat-option>None</mat-option>
                <mat-option *ngFor="let template of templates" [value]="template.id">
                  {{template.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" class="pull" (click)="setTemplateId(user.name)">Feedback</button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let user; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>
<router-outlet></router-outlet>
<app-toast-messages></app-toast-messages>