.search-colleagues{
  width:80vh;
  margin-left:10px;
}

.margin-input{
  margin:10px;
}

.mat-table{
  overflow:auto !important;
}
.mat-cell{
  overflow:auto !important;
}
.mat-cell, .mat-header-cell{
  overflow: visible !important;
}
.mat-cell[_ngcontent-c6]{
  overflow:visible !important;
}
