@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.footerContent {
  border-top: solid 2px black;
  width: 100%;
  padding: 0;
  bottom:0;
  position:absolute;
  background:white;
  height:4vh;
  text-align: center;
}