
.login-button{
 width:100%;
}
.start-button{
  position: absolute;
  left:42%;
  top:68%;
  width:16%;
}

.container-login.mat-dialog-container{
  padding:24px !important;
}
.centerImage{
  background-image: url('../../../assets/background.jpg');
}
.container{
  height:97vh;
  width:100vw;
}

