
.md-tabs {
  background: red;
  border: 1px solid #e1e1e1;
}

table {
  border-collapse: collapse;
  width: 100%;
  padding-left: 10%
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.polar {
  width: 35%;
  float: left;
  vertical-align: top;
}

.font {
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
}
