<div style="margin-left: 5%">
  <mat-tab-group>
    <mat-tab label={{templateTypes[1]}}>
      <div class="">
        <mat-form-field>
          <mat-select placeholder="Select a template" [(ngModel)]="selectedTemplate">
            <mat-option [value]="-1">None</mat-option>
            <mat-option *ngFor="let template of templates" [value]=template.id>
              {{template.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)="setResult(false);" type="submit">Compute Statistics</button>
        <button mat-raised-button *ngIf="showResult === true" (click)="exportToPDF()">Export To PDF</button>
        <button mat-raised-button disabled *ngIf="!showResult === true" disabled (click)="exportToPDF()">Export To PDF</button>
      </div>
      <div *ngIf="showResult === true" id="report">
        <h4>{{procentageForTemplate}} % of the employees have used {{selected.name}}</h4>
        <h4>Most given answers to the questions:</h4>
        <ul>
          <div *ngFor="let x of topResultForTemplate">
            <div *ngFor="let y of x | mapToIterable">
              {{y}}
              <ul>
                <li *ngFor="let z of x[y] | mapToIterable">
                  {{z}}: {{x[y][z]}}
                </li>
              </ul>
            </div>
          </div>
        </ul>
      </div>
    </mat-tab>
    <mat-tab label={{templateTypes[0]}}>
      <div class="polar">
        <canvas baseChart [colors]="colors" [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend"
          [chartType]="polarAreaChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
      <div *ngIf=templateUsage>
        <div class="table">
          <tr>
            <th>Template Name</th>
            <th>Usage</th>
          </tr>
          <tr *ngFor="let key of templateUsage | mapToIterable">
            <th> {{key}}</th>
            <th>{{templateUsage[key]}}</th>
          </tr>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>