<div mat-dialog-title class="modal-header-primary">
    <button mat-dialog-close type="button" class="close">&times;</button>
  <h4 >Edit Template</h4>
</div>
<div mat-dialog-content>
  <form [formGroup]="myForm">
      <mat-form-field class="inputs">
          <input matInput type="text" maxlength="255" formControlName="name" placeholder="Template Name">
          <mat-error *ngIf="!myForm.controls.name.valid" class="text-danger">
              Name must have at least 5 characters!
            </mat-error>
        </mat-form-field>
        <mat-checkbox color="primary" formControlName="isGeneric">Is generic</mat-checkbox>
    <div formArrayName="questions">
      <div *ngFor="let question of getFormQuestions(); let i=index" class="panel panel-default">
        <div class="panel-heading" [formGroupName]="i">
          <span class="glyphicon glyphicon-remove pull-right" id="formButton" *ngIf="myForm.controls.questions.controls.length > 1"
              (click)="removeQuestion(i)"></span>
            <mat-form-field class="inputs">
          <input matInput type="text" maxlength="255" formControlName="questionText" placeholder="Insert your question here" class="textInput">
            </mat-form-field>
            <mat-checkbox color="primary" formControlName="required">Is required</mat-checkbox>
          <div *ngIf="getQuestionType(i) == 'FREETEXT'">
            <mat-form-field class="inputs">
            <input matInput type="text" maxlength="255" formControlName="remark" placeholder="Remark text" class="textInput">
            </mat-form-field>
            <br>
          </div>
          <mat-form-field>
              <mat-select formControlName="questionType" >
                <mat-option *ngFor="let type of questionTypes" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          <div *ngIf="getQuestionType(i) === 'SINGLE_CHOICE' || getQuestionType(i) === 'MULTIPLE_CHOICE'">
            <small *ngIf="restrictTwoAnswers(i) == false" class="text-danger">
              A single or multiple choice question must have at least 2 answers!
            </small>
            <div class="panel-body" formArrayName="responseChoices">
              <div class="form-group col-xs-4" *ngFor="let answer of getAnswers(i);let j=index">
                  <div [formGroupName]="j">
                    <label>Answer:</label>
                    <mat-form-field>
                        <input maxlength="255" matInput type="text" id="answerInput" placeholder="Answer Text" formControlName="responseChoiceText" required>
                      </mat-form-field>
                    <button mat-mini-fab color="primary"(click)="removeAnswer(i,j)">X</button>
                  </div>
              </div>
              <button mat-raised-button color="primary" class="pull-right" (click)="addAnswer(i)" onended="myForm.updateValueAndValidity()" *ngIf="getQuestionType(i) != 'FREETEXT'">
                  Add answer
                </button>
            </div>
          </div>
          <div *ngIf="getQuestionType(i) === 'RATING'">
              <mat-form-field class="input">
                  <input matInput type="Number" maxlength="255" id="answerInput" placeholder="Min" formControlName="min" required>
              </mat-form-field>
              <mat-form-field class="input">
                  <input matInput type="Number" maxlength="255" id="answerInput" placeholder="Max" formControlName="max" required>
              </mat-form-field>
            </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="addQuestion()" >Add question</button>
    <button mat-raised-button color="primary" (click)="save(myForm.value)">Save</button>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</div>