.modal-body {
  font-weight: 100 px;
  /* font-family: Helvetica, Arial, sans-serif;*/
  font-family: Verdana;
  overflow-y: scroll;
  max-height: 50em;
}
.mat-dialog-title{
  margin-bottom:0;
  height:5vh;
}
.mat-dialog-content{
  padding:0px;
  margin:0px;
  overflow-y:auto;
  margin-left:10px;
  margin-right:10px;
  height:60vh;
}
.mat-dialog-actions{
  border-top:1px solid black;
  height:5vh;
  padding:8px;
  margin-left:10px;
  margin-right: 10px;
}
.question {
  color: darkblue;
  font-weight: 600;
  font-family: Verdana;
}
.inputs{
  width:35%;
}

.response {
  color: black;
  font-weight: 500;
}

.questionInput {
  width: 1000px;
}

.answer {
  color: darkgreen;
  font-weight: 500;
  font-weight: 900;
}

.submit {
  margin-left: 45%;
  width: 15%;
}
.margin{
  margin-left:10px
}
.btn btn-primary pull-right formButton {
  margin-bottom: 10px;
}

.title-form{
  margin-top: 5%;
 margin-left: 5%;
}

.nameInput {
  width: 100%;
  margin-left: 7%;
}

.modal-dimension {
  width: 150%;
}

.textInput{
  width:100%;
}
.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}