<div class="container">
  <h3 *ngIf="To">
    Feedback to {{To}}
  </h3>
  <br>
     <mat-checkbox type="checkbox" color="primary" [(ngModel)]="anonymous" name="anonymous">Anonymous</mat-checkbox>
     <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        <strong>Required Questions not completed</strong>
      </div>
    <div class="form-group padding-top-form" *ngFor="let question of questions;let i=index">
      <label>{{question.questionText}}</label>
       <div *ngIf="question.questionType === 'FREETEXT'">
         <small>{{question.remark}}</small>
         <mat-form-field class="full-width-textarea">
          <textarea [required]="question.required" matInput [(ngModel)]="answers[i]"  name="Freetext + {{i}}" class="form-control" style="text-decoration: none" maxlength="255" placeholder="Please enter your answer here"></textarea>
          </mat-form-field>
        </div>
       <div *ngIf="question.questionType === 'SINGLE_CHOICE'">
          <mat-radio-group [required]="question.required" [(ngModel)]="answers[i]">
            <mat-radio-button  color="primary" class="col-md-3" *ngFor="let response of question.responseChoices; let indx = index;" [value]="response.responseChoiceText"> 
              {{response.responseChoiceText}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      <div *ngIf="question.questionType === 'MULTIPLE_CHOICE'">
          <mat-checkbox [required]="question.required" color="primary" *ngFor="let response of question.responseChoices; let indx = index" class="col-md-3" [(ngModel)]="answers[i][indx]" [value]="response.responseChoiceText"> 
            {{response.responseChoiceText}}
          </mat-checkbox>
      </div>

      <div *ngIf="question.questionType === 'RATING'">
          <mat-slider class="slider"
          color="primary"
          [max]="question.max"
          [min]="question.min"
          [value]="question.min"
          [step]="step"
          [thumb-label]="true"
          [(ngModel)]="answers[i]">
      </mat-slider>
      </div>
    </div>
    <br>

    <button mat-raised-button color="primary" class="submit-button" (click)="onSubmit()">Submit</button>
</div>
