.full-width-textarea{
    width: 100% !important;
}

.submit-button{
    width:20%;
    margin-left:40%;
    margin-bottom:10px;
}
.slider{
    min-width:300px;
    touch-action: none;
}

.padding-top-form{
    padding-top:20px;
}

