
.question{
  color: darkblue;
  font-weight: 600;
  font-family: Verdana;
}

.dialog-button{
  margin-left:5px;
  margin-right: 5px;
  float:right !important;
}
.mat-dialog-title{
  margin-bottom:0;
  height:5vh;
}
.mat-dialog-content{
  padding:0px;
  margin:0px;
  height:55vh;
  max-height:55vh;
  overflow-y:auto;
  margin-left:10px;
  margin-right:10px;
}
.mat-dialog-actions{
  border-top:1px solid black;
  height:5vh;
  padding:8px;
  margin-left:10px;
  margin-right: 10px;
}
.response{
  color: black;
  font-weight: 500;
}
.answer{
  color: darkgreen;
  font-weight: 500;
  font-weight: 900;
}

.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
