
      <div class="modal-header-primary" mat-dialog-title>
          <button mat-dialog-close type="button" class="close" (click)="close()">&times;</button>
          <h4  class="modal-title">Feedback</h4>
      </div>
      <div mat-dialog-content id="feedback">
      <div *ngIf="feedback.anonymous === false"><h5>From:{{feedback.from}}</h5></div>
      <div *ngIf="feedback.anonymous === true"><h5>From:Anonymus</h5></div>
      <h5 *ngIf="feedback.to">To:{{feedback.to}}</h5>
      <div *ngFor="let question of questions;let i = index" class="question">
        {{question.questionText}}
        <div *ngIf="question.questionType=='FREETEXT'">
          {{question.remark}}
        </div>
        <ul>
          <div *ngFor="let response of question.responseChoices;" class="response">
            <li *ngIf="verifyAnswer(response,question)" class="answer">
              {{response.responseChoiceText}}
            </li>
          </div>
          <li *ngIf="'FREETEXT' === question.questionType || 'RATING' === question.questionType" class="answer">
            {{getAnswersForQuestion(question)[0].text}}
          </li>
        </ul>
      </div>
    </div>
    <div mat-dialog-actions align="end">
      <button mat-raised-button data-dismiss="modal" (click)="download()"><span
        class="glyphicon glyphicon-download-alt"></span> PDF
      </button>
      <button *ngIf="isReceived" mat-raised-button data-dismiss="modal" (click)="markAsRead()"> 
        Mark as read
      </button>
      <button mat-raised-button  (click)="this.close()"> 
        Close
      </button>
    </div>


