
  <p mat-dialog-content> Are you sure you want to delete this item?</p>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Ok</button>
  <button mat-button [mat-dialog-close]="false">No Thanks</button>
</div>
