.sideBar{
      list-style-type: none;
}
.no-padding-left{
      z-index:1;
      display: block;
}
.mat-sidenav-container{
      height:88vh;
      padding:0;
}


.sidenav-item-outer{
      border-bottom:2px solid black;
}
.sidenav-item-inner{
      margin-left:10px;
}
.mat-sidenav{
      z-index:4;
}
.rest{
      overflow-y:auto;
      overflow-x:hidden;
      max-height: 88vh;
      padding-left:5vw;
      padding-right:5vw;
}
.hamburger {
      float:left;
      z-index: 9999;
      margin: 2vh;
}
.hamburger div {
      background-color: black;
      border-radius: 1px;
      height: 6px;
      width: 30px;
    }
.hamburger div:not(:last-child) {
      margin-bottom: 5px;
    }
header{
      height:8vh;
      border-bottom:1px solid black;
}
.header-photo{
      float:left;
      width:15vh;
      height:5vh;
      margin-left:10px;
      margin-top:10px;
}
.name-right{
      float:right;
      margin-top:10px;
}