
<header>
  <div class="col-xs-12 col-sm-6">
    <div class="hamburger col-xs-12 col-sm-1" (click)="sidenav.toggle()">
        <div></div>
        <div></div>
        <div></div>
      </div>
  <img src="assets/erni-logo.png" class="header-photo col-xs-12 col-sm-3">
  </div>

  <div class="name-right col-xs-12 col-sm-3">
    <h3 class="pull-right">Hello {{userName}}!</h3>
  </div>
</header>
<mat-sidenav-container class="col-xs-12">

  <mat-sidenav #sidenav mode="push" disableClose="false" class="no-padding-left">
    <mat-list>
      <a mat-list-item class="sidenav-item-outer" [routerLink]="['/genericFeedback']">
          <span>Give feedback</span>
      </a>
      <a mat-list-item class="sidenav-item-outer" [routerLink]="['/Feedbacks']" [queryParams]="{feedbacks: 'received', id : 0, sulInspecting : false }">
        <span>Received</span>
      </a>
      <a mat-list-item class="sidenav-item-outer" [routerLink]="['/Feedbacks']" [queryParams]="{feedbacks: 'sent', id : 0, sulInspecting : false }">
        <span>Sent</span>
      </a>
      <a mat-list-item class="sidenav-item-outer" [routerLink]="['/colleagues']">
        <span>Colleagues</span>
      </a>
      <div *ngIf="checkRole()">
        <a mat-list-item class="sidenav-item-outer" [routerLink]="['/reports']">
          <span>Feedback reports</span>
        </a>
        <a mat-list-item class="sidenav-item-outer" [routerLink]="['/genericFeedbacks']">
          <span>Generic Feedbacks</span>
        </a>
        <a mat-list-item  class="sidenav-item-outer"  [routerLink]="['/generate']">
          <span >Generate feedback templates</span>
        </a>
        <a mat-list-item class="sidenav-item-outer" [routerLink]="['/templates']">
          <span>View templates</span>
        </a>
        <a mat-list-item class="sidenav-item-outer" [routerLink]="['/teamfeedback']">
          <span>View team feedback</span>
        </a>
      </div>
      <a mat-list-item class="sidenav-item-outer" (click)="logout()">
        <span>Logout</span>
      </a>
    </mat-list>
  </mat-sidenav>
  <div class="rest">
    <section>
      <router-outlet>
      </router-outlet>
    </section>
  </div>
</mat-sidenav-container>