<div *ngIf="checkIfSelect()">
  <mat-form-field>
    <mat-select [(ngModel)]="feedbackType">
      <mat-option *ngFor="let type of feedbackTypes" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="getFeedbacksRecived()">Go!</button>
</div>
  <div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Keywords">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="to">
      <mat-header-cell *matHeaderCellDef mat-sort-header> To </mat-header-cell>
      <mat-cell *matCellDef="let feedback"> {{feedback.to}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="from">
      <mat-header-cell *matHeaderCellDef mat-sort-header> From </mat-header-cell>
      <mat-cell *matCellDef="let feedback"> 
        <div *ngIf="feedback.anonymous === false">
            {{feedback.from}}
        </div>
        <div *ngIf="feedback.anonymous === true">
            anonymous
        </div>
         </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date </mat-header-cell>
      <mat-cell *matCellDef="let feedback"> {{feedback.date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="view">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let feedback">

        <button mat-raised-button color="primary" (click)="ViewFeedback(feedback)" class="pull-right">View</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
  </mat-table>
  <mat-paginator #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
    <div *ngIf="feedbacks.length === 0" class="message">
        <h3>No feedbacks to show</h3>
      </div>