
.message {
  text-align: center;
}
.feedbackButton{
  padding: 10px 14px !important;
  background-color: #337ab7 !important;
}
.feedbackView{
  float:left;overflow:hidden
}
.feedback-wrapper .mat-dialog-container {
  padding: 0px !important;
}