<div *ngIf="templates.length === 0" class="message">
  <h3>No templates to show :(</h3>
</div>
<div class="list-group">
  <div *ngFor="let template of templates" class="list-group-item clearfix">
    <div class="list-group-item-heading">
      <h4>Name:{{template.name}}
          <button mat-raised-button color="primary" (click)="ViewTemplate(template)" class="pull-right template-button">View</button>
          <button mat-raised-button color="primary" (click)="deleteTemplate(template.id)" class="pull-right template-button">Delete</button>
      </h4>
      <h4>Author:{{template.author}}
      </h4>
    </div>
  </div>
</div>
