.centerImage{
    background-image: url('../assets/background.jpg');
    background-size: cover;
  }
.overly{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}
html, body {
    height: 100%;
    margin: 0;
}