.card {
  background-color: #F7F7F7;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.mat-dialog-title{
  max-width: 20vw !important;
}
.mat-dialog-content{
  max-width: 20vw !important;
}



.card-container.card {
  width:40%;
  padding: 40px 40px;
}
.input-full-length{
  width:17vw;
}
.login-button{
  margin-left:35%;
  width:30%;
}