
<div mat-dialog-title>
  <button mat-dialog-close class="close">&times;</button>
  <h4>Login</h4>
</div>
<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  <strong>Invalid Credentials</strong>
</div>
<div mat-dialog-content>
  <form> 
    <mat-form-field class="input-full-length">
      <input matInput  placeholder="Username" name="username" [(ngModel)]="username" required>
    </mat-form-field>
    <mat-form-field class="input-full-length">
      <input matInput  placeholder="Password" name="password" type="password" [(ngModel)]="password" required>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" (keydown.enter)="login()" (click)="login()" class="login-button">
      Login
    </button>
  </form>
</div>