
.templateGenerator {
  border: solid 1px grey;
  width: 78.5%;
  border: solid 1px grey;
  box-shadow: 2px 2px 2px #888888;
  background: rgba(204, 204, 204, 0.9);
  vertical-align: top;
  float:left ;
  margin-left:15%;
  height: 1000px;
  overflow-y: scroll;
}
.panel-body{
  overflow:hidden !important;
}
#answerInput {
  display: inline;
}

.input{
  width:25% !important;
}

.formButton {
  padding: 2px 12px;
}

.selectType {
  display: inline;
}

.margin-20, .text-danger{
  margin-left: 1%;
}

.input-group{
  margin-left: 1%;
}


.submit{
  margin-left: 45%;
  width: 15%;
}
