<div *ngIf="this.successfulSave == true">
  {{this.navigateToViewTemplates()}}
</div>
<div *ngIf="this.successfulSave == false">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="myForm">
          <mat-form-field class="input">
            <input matInput type="text" formControlName="name" placeholder="Template Name">
            <mat-error *ngIf="!myForm.controls.name.valid" class="text-danger">
                Name must have at least 5 characters!
              </mat-error>
          </mat-form-field>
          <mat-checkbox color="primary" formControlName="isGeneric">Is generic</mat-checkbox>
        <div formArrayName="questions">
          <div *ngFor="let question of myForm.controls.questions.controls; let i=index" class="panel panel-default">
            <div class="panel-heading" [formGroupName]="i">
              <button class="pull-right close" id="formButton" *ngIf="myForm.controls.questions.controls.length > 1"
                (click)="removeQuestion(i)">&times;</button>
              <mat-form-field class="input">
                <input matInput type="text" maxlength="255" placeholder="Question text" formControlName="questionText" id="textInput" required>
              </mat-form-field>
              <mat-checkbox color="primary" formControlName="isRequired">Is required</mat-checkbox>
              <div *ngIf="getQuestionType(i)=='FREETEXT'">
                <mat-form-field>
                  <input matInput type="text" maxlength="255" placeholder="Remark Text(Optional)" formControlName="remark">
                </mat-form-field>
               
              </div>
              <br>
              <label>Type:</label>
              <mat-form-field>
                <mat-select formControlName="questionType">
                  <mat-option *ngFor="let type of questionTypes" [value]="type">
                    {{type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="getQuestionType(i) === 'SINGLE_CHOICE' || getQuestionType(i) === 'MULTIPLE_CHOICE'">
                <small *ngIf="restrictTwoAnswers(i) == false" class="text-danger">
                  A single or multiple choice question must have at least 2 answers!
                </small>
                <div class="panel-body" formArrayName="responseChoices" style="height: 10%; overflow-y: scroll">
                  <div class="form-group col-xs-4" *ngFor="let answer of getAnswers(i);let j=index">
                    <label>Answer:</label>
                    <div [formGroupName]="j">
                      <mat-form-field class="input">
                        <input matInput type="text" maxlength="255" id="answerInput" placeholder="Answer Text" formControlName="responseChoiceText" required>
                      </mat-form-field>
                      <button mat-mini-fab color="primary" (click)="removeAnswer(i,j)">X</button>
                    </div>
                  </div>
                </div>
                <button mat-raised-button color="primary" class="pull-right" (click)="addAnswer(i)" onended="myForm.updateValueAndValidity()">
                  Add answer
                </button>
                <br>
                <br>
              </div>
              <div *ngIf="getQuestionType(i) === 'RATING'">
                <mat-form-field class="input">
                    <input matInput type="Number" maxlength="255" id="answerInput" placeholder="Min" formControlName="min" required>
                </mat-form-field>
                <mat-form-field class="input">
                    <input matInput type="Number" maxlength="255" id="answerInput" placeholder="Max" formControlName="max" required>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="margin-20">
          <button mat-raised-button color="primary" (click)="addQuestion()" class="pull-right">
            Add question
          </button>
          <br>
          <br>
        </div>
        <br>
      </form>
      <span class="input-group-btn">
        <button mat-raised-button color="primary" (click)="save(myForm.value)" class="submit">Submit</button>
      </span>
      <br>
    </div>
  </div>
</div>